{% extends 'main.html' %}

{% block content %}
<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="text-3xl text-black pb-6 ">About</h1>
        <div class="fade-in justify-center mt-3" style="text-align: -webkit-center; ">
            <img src="https://i.imgur.com/mBJrxln.png" width=500/>
            <a href="https://github.com/ellerman4" target="_blank" rel="noopener noreferrer">
                <img class="m-5 hover:-translate-y-1 hover:scale-110  duration-300" src="https://i.imgur.com/tgLn6Qi.png"/>
            </a>
        </div>
    </main>
</div>

{% endblock content %}