{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
        <h1 class="text-3xl text-black pb-6 ">About</h1>
        <div class="fade-in justify-center mt-3 md:mr-24" style="text-align: -webkit-center; ">
            <img src="{% static 'imgs/spacex-dashboard-logo.webp' %}" width=500/>
            <a href="https://github.com/ellerman4" target="_blank" rel="noopener noreferrer">
                <img class="m-5 hover:-translate-y-1 hover:scale-110  duration-300" src="{% static 'imgs/created-by.webp' %}"/>
            </a>
        </div>
    </main>
</div>

{% endblock content %}