{% extends 'main.html' %}
{% load static %}
{% load compress %}
{% block content %}
<div class="relative w-full flex flex-col h-screen overflow-y-hidden">
  <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <main class="w-full flex-grow p-6">
      <h1 class="text-3xl text-black pb-6 text-center">Launches</h1>
      <div class="flex flex-col sm:flex-row gap-4 text-center justify-center">
          <!-- First Row Grid -->
          <ul>
            <li class="m-3">
              <b>Launches</b><div class="text-2xl"> {{ past_launch_data|length }}</div>
            </li>
            <li class="m-3">
              <b>Miles from Earth</b><div class="text-2xl"> {{ failure_count }}</div>
            </li>
          </ul>
          <ul>
            <li class="m-3">
              <b>Successful</b><div class="text-2xl"> {{ success_count }}</div> 
            </li>
            <li class="m-3">
              <b>Miles from Mars</b><div class="text-2xl"> {{roadster_data.mars_distance_mi|add:"-8000000"}}</div>
            </li>
          </ul>
          <ul>
            <li class="m-3">
              <b>Failed</b><div class="text-2xl text-red-500"> {{ failure_count }}</div> 
            </li>
            <li class="m-3 ">
              <b>Next Launch</b>
              <div>
                <p class="text-2xl">
                  {{ upcoming_launch_data.0.date_utc|slice:"10" }}
                </p>
              </div>
            </li>
          </ul>
      </div>
      {% include 'main/table_component.html' %}
    </main>
  </div>
</div>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Load table-collapse.js -->
{% compress js inline %}
<script src="{% static 'js/table-collapse.js' %}"></script>
{% endcompress %}
  
<style>
table { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
  margin-top: -10px; /* correct offset on first border spacing if desired */
}
td {
    border: solid 1px;
    border-style: solid none;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}
</style>
{% endblock content %}