{% extends 'main.html' %}
{% load static %}
{% load compress %}
{% block content %}
<!--  globe.gl element  -->
<div id="chart"></div>
<!--  time logger  -->
<div id="time-log"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.143.0/three.min.js"></script>
<script src="//unpkg.com/satellite.js/dist/satellite.min.js"></script>
<script src="//unpkg.com/globe.gl"></script>
{% compress js inline %}
<script src="{% static 'js/starlink.js' %}"></script>
{% endcompress %}

{% compress css inline %}
<style>
  #time-log {
    position: absolute;
    font-size: 12px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, 0.1);
    color: lavender;
    bottom: 10px;
    right: 10px;
  }
</style>
{% endcompress %}

{% endblock content %}