{% block content %}
<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet">
<div class="flex flex-col gap-2 md:flex-row">
	<div class="flex flex-wrap md:flex-nowrap min-h-screen gap-2 bg-white">
		<div class="col-span-12">
			<h1 class="text-3xl text-black pb-6 text-center">Previous</h1>
			<div class="overflow-auto lg:overflow-visible ">
				<table class="table text-gray-400 border-separate space-y-6 text-sm">
					<thead class="bg-gray-800 text-gray-500">
						<tr>
							<th class="p-3">Mission Name</th>
							<th class="p-3 text-center">Rocket</th>
							<th class="p-3 text-center">LAUNCHPAD</th>
							<th class="p-3 text-center">Status</th>
							<th class="p-3 text-center">Date</th>
						</tr>
					</thead>
					<tbody>
						{% for launch in past_launch_data %}
						<tr class="bg-gray-800">
							<td class="p-3">
								<div class="flex align-items-center">
									<a href="{{launch.links.patch.small}}" class="hidden md:inline">
									{% if launch.links.patch.small %}
										<img class="h-12 w-12" src="{{launch.links.patch.small}}" alt="{{launch.links.patch.large}}">
									{% else %}
										<img class="h-12 w-12" src="https://imgur.com/BrW201S.png" alt="{{launch.links.patch.large}}">
									{% endif %}
									</a>
									<div class="ml-3">
										{% if launch.links.article == None %}
										<div class="">{{launch.name}}</div>
										{% else %}
										<div class="text-blue-500"><a href="{{launch.links.article}}">{{launch.name}}</a></div>
										{% endif %}
										<div class="text-gray-500">Flight No. {{launch.flight_number}}</div>
									</div>
								</div>
							</td>
							<td class="p-3">
								{{launch.rocket_name}}
							</td>
							<td class="p-3 font-bold">
								{{launch.launchpad_name}}
							</td>
							<td class="p-3">
								{% if launch.success %}
								<span class="bg-green-400 text-gray-50 rounded-md px-2">Success</span>
								{% else %}
								<span class="bg-red-400 text-gray-50 rounded-md px-2">Failure</span>
								{% endif %}
							</td>
							<td class="p-3 ">
								<span
									class="px-2 ml-2"
									x-data="{date: new Date($el.innerText)}"
									x-text="date.toLocaleString()">
									{{launch.date_utc}}
								</span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
<div class="flex md:flex-row">
	<div class="flex min-h-screen bg-white">
		<div class="col-span-12">
			<h1 class="text-3xl text-black pb-6 text-center">Upcoming</h1>
			<div class="overflow-auto lg:overflow-visible ">
				<table class="table text-gray-400 border-separate space-y-6 text-sm">
					<thead class="bg-gray-800 text-gray-500">
						<tr>
							<th class="p-3">Mission Name</th>
							<th class="p-3 text-left">Rocket</th>
							<th class="p-3 text-left">LAUNCHPAD</th>
							<th class="p-3 text-left">Status</th>
							<th class="p-3 text-left">Date</th>
						</tr>
					</thead>
					<tbody>
						{% for launch in upcoming_launch_data %}
						<tr class="bg-gray-800">
							<td class="p-3">
								<div class="flex align-items-center">
									<a href="{{launch.links.patch.small}}">
									{% if launch.links.patch.small %}
										<img class="h-12 w-12" src="{{launch.links.patch.small}}" alt="{{launch.links.patch.large}}">
									{% else %}
										<img class="h-12 w-12" src="https://imgur.com/BrW201S.png" alt="{{launch.links.patch.large}}">
									{% endif %}
									</a>
									<div class="ml-3">
										{% if launch.links.article == None %}
										<div class="">{{launch.name}}</div>
										{% else %}
										<div class="text-blue-500"><a href="{{launch.links.article}}">{{launch.name}}</a></div>
										{% endif %}
										<div class="text-gray-500">Flight No. {{launch.flight_number}}</div>
									</div>
								</div>
							</td>
							<td class="p-3">
								{{launch.rocket_name}}
							</td>
							<td class="p-3 font-bold">
								{{launch.launchpad_name}}
							</td>
							<td class="p-3">
								<span class="bg-yellow-200 text-gray-800 rounded-md px-2">N/A</span>
							</td>
							<td class="p-3 ">
								<span
									class="px-2 ml-2"
									x-data="{date: new Date($el.innerText)}"
									x-text="date.toLocaleString()">
									{{launch.date_utc}}
								</span>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<style>
	.table {
		border-spacing: 0 15px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+5),
	tr th:nth-child(n+5) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}
</style>
{% endblock content %}